name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y gcc
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Run Code Quality Checks
        run: |
          python -m isort --check-only --split-on-trailing-comma --diff src
          python -m black --line-length 79 --check src
          python -m flake8 src
          python -m mypy --explicit-package-bases src

      - name: Run Tests with Coverage
        run: |
          pytest --cov=src --cov-report=xml --cov-report=term --cov-fail-under=90

      - name: Upload Coverage Report
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
